<div *ngIf="content.title">
    <div class="modal-header">
        <h4 class="modal-title">{{content.title}}</h4>
        <button type="button" class="close" aria-label="Close"
                (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div class="modal-body">
    <div *ngIf="content.url">
        <iframe [src]="content.url |  safe: 'resourceUrl'">
        </iframe>
    </div>
    <div *ngIf="content.html">
        <div [innerHtml]="content.html"></div>
    </div>
    <div *ngIf="content.text">
        {{ content.text }}
    </div>
    <div *ngIf="content.object">
        <div class="row" *ngFor="let item of content.object | keyvalue">
            <div class="col-md-5"><b>{{item.key}}:</b></div>
            <div class="col-md-7">{{item.value}}</div>
        </div>
    </div>
</div>





