<div class="login-form" *ngIf="loginEnabled">
    <form [formGroup]="loginForm">
        <!--<div class="avatar"><i class="material-icons">&#xE7FF;</i></div>-->
        <div class="text-center">
            <h3><i class="fa fa-sign-in-alt fa"></i></h3>
            <h4 class="modal-title">Login to Your Account</h4>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="inputEmail" placeholder="Username" formControlName="userId"
                   required autofocus>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                   [class.is-invalid]="password.touched && password.invalid" placeholder="Password"
                   formControlName="password"
                   required>
        </div>
        <div class="form-group small clearfix">
            <label class="checkbox-inline">
                <input type="checkbox" formControlName="rememberMe"> Remember me
            </label>
            <a href="javascript: void(0)" class="forgot-link" (click)="forgot()">Forgot Password?</a>
        </div>
        <button *ngIf="!loading" class="btn btn-primary btn-block btn-lg" type="submit" (click)="submit()"
                [disabled]="loginForm.invalid">Sign in
        </button>
    </form>
    <div class="text-center small">Don't have an account?
        <a href="#">Sign up</a>
    </div>
    <div class="text-center small">
        <a href="#"><i class="fa fa-home fa"></i>Home</a>
    </div>
</div>


<div class="login-form" *ngIf="!loginEnabled">
    <form [formGroup]="loginForm">
        <div class="text-center">
            <h3><i class="fa fa-lock fa"></i></h3>
            <h4 class="modal-title">Forgot Password?</h4>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="inputEmail" placeholder="Username" formControlName="userId"
                   required autofocus>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                   [class.is-invalid]="password.touched && password.invalid" placeholder="Password"
                   formControlName="password"
                   required>
        </div>
        <button *ngIf="!loading" class="btn btn-primary btn-block btn-lg" type="submit" (click)="submit()"
                [disabled]="loginForm.invalid">Reset
        </button>
    </form>
    <div class="text-center small">
        <a href="#"><i class="fa fa-home fa"></i>Home</a>
    </div>
</div>


<!--<div class="login">
    <form class="form-signin" [formGroup]="loginForm" [ngStyle]="getBodyStyle()">
        <h2 class="form-signin-heading">
            <img src="/assets/icon.png" class="d-inline-block align-top" style="max-width: 30%"alt="">
        </h2>
        <h2 class="form-signin-heading">
            {{appName}}
        </h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <div class="input-group">
            <input type="email" id="inputEmail" class="form-control"
                   [class.is-invalid]="userId.touched && userId.invalid" placeholder="Username" formControlName="userId"
                   required autofocus>
            <div class="input-group-append">
                            <span class="input-group-text username">
                              <i class="fa fa-user"></i>
                            </span>
            </div>
        </div>
        <label for="inputPassword" class="sr-only">Password</label>
        <div class="input-group">
            <input type="password" id="inputPassword" class="form-control"
                   [class.is-invalid]="password.touched && password.invalid" placeholder="Password"
                   formControlName="password"
                   required>
            <div class="input-group-append password">
                            <span class="input-group-text">
                              <i class="fa fa-asterisk"></i>
                            </span>
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="rememberMe" formControlName="rememberMe"> Remember me
            </label>
        </div>
        <button *ngIf="!loading" class="btn btn-lg btn-primary btn-block" type="submit" (click)="submit()"
                [disabled]="loginForm.invalid">Sign in
        </button>
        <div *ngIf="loading" style="margin-left: 120px">
            <mat-spinner diameter=40></mat-spinner>
        </div>
    </form>
</div>-->

