.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
}

.sidebar .sidebar-nav {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  width: 250px;
}

.sidebar .nav {
  width: 250px;
  flex-direction: column !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.5;
}

.icon {
  display: inline-block;
  width: 1.09375rem;
  margin: 0 .8rem 0 0;
  font-size: .875rem;
  color: #73818f;
  text-align: center;
}
