<div class="sidebar" [ngStyle]="getMenuStyle()">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li *ngFor="let menuItem of getMenuItems()" class="nav-item">
                <a class="nav-link" routerLink="{{menuItem.link}}" routerLinkActive="active">
                    <i class="{{ menuItem.iconClass }} icon" *ngIf="menuItem.iconClass"></i> {{ menuItem.name }}
                </a>
            </li>
        </ul>
    </nav>
</div>
