/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@coreui/coreui/dist/css/coreui.min.css";

@import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/themes/prism-okaidia";


/*
 * Content
 */
[role="main"] {
  padding-left: 100px !important;
  padding-right: 100px !important;
  padding-top: 50px;
}

.menu-icon {
  margin-left: 10px;
  margin-right: 10px;
}

.content-card {
  padding: 20px;
  border: 1px lightgray solid;
  border-radius: 5px;
  background-color: #F7F8F9;
}

.content-card-body {
  padding: 20px;
  border: 1px lightgray solid;
  border-radius: 5px;
  background-color: white;
}

th.mat-header-cell {
  background-color: #505a62;
  color: white;
  font-size: 14px;
}

.mat-sort-header-arrow {
  color: white;
  opacity: 100% !important;
}

.mat-form-field-infix {
  background: white;
  border-radius: 3px;
  width: 200px;
}

.bg-black {
  background: black;
}

.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.input-group-append {
  margin-left: -1px;
}

.input-group-text {
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  align-items: center;

  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;

  text-align: center;
  white-space: nowrap;
  background-color: #f0f3f5;
  border: 1px solid #e4e7ea;
  border-radius: 0.25rem;
}

.right .modal-lg {
  margin-right: 5%;
  width: 1210px;
  max-width: 1210px !important;
  height: 100%;
}
.right .modal-lg .modal-content {
  height: auto;
  min-height: 100%;
}
