<div *ngIf="form">
    <form [formGroup]="form">
        <div *ngFor="let formDefinition of formDefinitions">
            <div [ngSwitch]="formDefinition.type">

                <div class="form-group row" *ngSwitchCase="'dropdown'">
                    <label for="{{formDefinition.key}}" class="col-form-label col-md-2">{{formDefinition.label}}:</label>
                    <div ngbDropdown class="d-inline-block standard-theme-dropdown-block">
                        <button type="button" class="btn btn-outline-secondary standard-theme-dropdown" id="{{formDefinition.key}}" ngbDropdownToggle>
                            {{ getFormControl(formDefinition.key).value }}
                        </button>
                        <div ngbDropdownMenu>
                            <button *ngFor="let options of formDefinition.requirements.options" class="dropdown-item standard-theme-dropdown-item"
                                    (click)="getFormControl(formDefinition.key).setValue(options)">{{ options }}</button>
                        </div>
                    </div>
                </div>

                <div class="form-group row" *ngSwitchCase="'textarea'">
                    <label for="{{formDefinition.key}}" class="col-form-label col-md-2">{{formDefinition.label}}:</label>
                    <textarea class="form-control col-md-10" id="{{formDefinition.key}}" rows="3"
                              [class.is-invalid]="getFormControl(formDefinition.key).touched && getFormControl(formDefinition.key).invalid"
                              formControlName="{{formDefinition.key}}"></textarea>
                </div>

                <div class="form-group row" *ngSwitchCase="'date'">
                    <label for="{{formDefinition.key}}" class="col-form-label col-md-2">{{formDefinition.label}}:</label>
                    <div class="col-md-6 input-group" style="padding: 0px">
                        <input type="text" class="form-control" id="{{formDefinition.key}}"
                               [class.is-invalid]="getFormControl(formDefinition.key).touched && getFormControl(formDefinition.key).invalid"
                               placeholder="yyyy/mm/dd"
                               [displayMonths]="2" ngbDatepicker #t="ngbDatepicker"
                               formControlName="{{formDefinition.key}}"/>
                        <div class="input-group-append" (click)="t.toggle()">
                            <span class="input-group-text" style="cursor: pointer">
                                <i class="fa fa-calendar fa" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group row" *ngSwitchDefault>
                    <label for="{{formDefinition.key}}" class="col-form-label col-md-2">{{formDefinition.label}}:</label>
                    <input id="{{formDefinition.key}}" type="{{formDefinition.type}}" class="form-control col-md-10" formControlName="{{formDefinition.key}}"
                           [class.is-invalid]="getFormControl(formDefinition.key).touched && getFormControl(formDefinition.key).invalid" />
                </div>
            </div>

        </div>
        <div>
            <button type="submit" class="btn btn-primary submit" (click)="clickSubmit()"
                    [disabled]="form.invalid || disableSubmit">Submit</button>
        </div>
    </form>
</div>
