.standard-theme-dropdown {
  width: 100% !important;
  color: #495071 !important;
  border: #ced4da 1px solid !important;
  background-color: white !important;
  text-align: left !important;
  white-space: initial !important;
}

.submit {
  float: right;
}
