.bg-yellow {
  background-image: linear-gradient(to right top, #79ab85, #8dbd98, #a1d0ac, #b6e3c0, #cbf6d5);
  color: white;
}

.bg-light-blue {
  background-color: #00aced;
  color: white;
}

.no-border {
  border: 0 !important;
}

.job-card {
  padding: 0.5rem;
  color: white;
  font-weight: bolder;
}

.bg-active {
  background-image: linear-gradient(to right top, #212121, #313131, #424242, #545454, #676767);
  color: white;
}

.bg-grey {
  background-image: linear-gradient(to right top, #6c757d, #79838c, #87929c, #95a1ac, #a3b0bc);
}

.bg-danger {
  background-image: linear-gradient(to right top, #ef091b, #f12441, #ed3c60, #e45279, #d8658e);
}

.bg-success {
  background-image: linear-gradient(to right top, #215327, #20772b, #1c9c2c, #15c326, #14eb12);
}

.legend {
  margin-right: 0;
  margin-left: 0;
  border-width: .2rem;
}

.badge {
  margin-right: 3px;
  color: white;
}