@keyframes dot-keyframes {
  0% {
    opacity: .4;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1;
    transform: scale(1.5, 1.5);
  }

  100% {
    opacity: .4;
    transform: scale(1, 1);
  }
}

.loading-dots {
  text-align: left;
  width: 100%;

  &--dot {
    animation: dot-keyframes 1.2s infinite ease-in-out;
    background-color: #000;
    border-radius: 10px;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 3px;

    &:nth-child(2) {
      animation-delay: .4s;
    }

    &:nth-child(3) {
      animation-delay: .8s;
    }
  }
}
