<ng-container *ngIf="redirectToLoginPage">
    <app-notification></app-notification>
    <app-login [ngStyle]="getBodyStyle()"></app-login>
</ng-container>

<ng-container *ngIf="!redirectToLoginPage">
    <div ngClass="app sidebar-fixed aside-menu-fixed header-fixed {{showSideMenu() ? 'sidebar-lg-show' : ''}}">
        <app-header></app-header>
        <app-notification></app-notification>
        <div class="app-body">
            <app-side-bar *ngIf="showSideMenu()"></app-side-bar>
            <main class="main" role="main" [ngStyle]="getBodyStyle()">
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>
</ng-container>





