i {
    margin-right: 5px;
    margin-left: 5px;
}
//.nav-dropdown-btn {
//    color: white;
//}

.nav-dropdown {
    top: 45px !important;
    color: black;
    text-align: center;
}


/* Navbar container */
.navbar {
    line-height: 40px;
    height: 55px;
    border-style: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid #c2cfd6;
}

/* The dropdown container */
.dropdown {
    float: left;
    min-width: 25px;
    text-align: center;
    margin-top: -3px;
}

a.navbar-brand {
    float: left;
    font-size: 20px;
    color: white;
    //padding-left: 30px;
    text-align: center;
    padding: 0em;
    margin-top: -3px;
}

.nav-dropdown a, .dropdown-item {
    color: black;
    font-size: 15px;
}

.navbar a:hover {
    text-decoration-line: underline;
}
