<div class="navbar navbar-light bg-black" [ngStyle]="getHeaderStyle()">
    <a class="navbar-brand" href="#" routerLink="/home" [ngStyle]="getHeaderStyle()">
        <img src="/assets/icon.png" height="40" class="d-inline-block align-top" alt="">
        {{appName}}
    </a>

    <div ngbDropdown [placement]="['bottom-right']" class="d-inline-block" *ngIf="!isLoggedIn()">
        <div class="nav-dropdown-btn" id="login-dropdown" ngbDropdownToggle [ngStyle]="getHeaderStyle()"><i class="fa fa-user"></i></div>
        <div ngbDropdownMenu aria-labelledby="login-dropdown" class="nav-dropdown dropdown-menu-right">
            <a routerLink="/login">Login</a>
        </div>
    </div>
    <div ngbDropdown [placement]="['bottom-right']" class="d-inline-block" *ngIf="isLoggedIn()">
        <div class="nav-dropdown-btn" id="logout-dropdown" ngbDropdownToggle [ngStyle]="getHeaderStyle()"><i class="fa fa-user"></i></div>
        <div ngbDropdownMenu aria-labelledby="login-dropdown" class="nav-dropdown dropdown-menu-right">
            <button class="dropdown-item btn-sm" (click)="logout()">Logout</button>
        </div>
    </div>

</div>
